<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Linqbio</title>
  </head>
  <body>
    <h1>Página inicial do Linqbio</h1>
    <p><%= check_login %></p>

    <% if(typeof user_name_link !== 'undefined' && user_name_link){ %>
    <p><%= user_name_link %></p>
    <% } %>

    <p><a href="/dashboard">dashboard</a></p>
    <p><a href="/logout">logout</a></p>
  </body>
</html>
