<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Linqbio | Página inválida</title>
    <link rel="shortcut icon" href="/imgs/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/status404.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=keyboard_arrow_downandcheckandmenuandclose"
    />
  </head>
  <body>
    <header>
      <div class="navbar">
        <h1><a href="/" class="no-select">LBIO</a></h1>
        <nav>
          <ul id="menu">
            <li><a href="#exemples">Exemplos</a></li>
            <li><a href="#howWorks">Como Funciona</a></li>
            <li><a href="#pricing">Preços</a></li>
            <li><a href="#help">Help</a></li>
          </ul>
          <a class="sign" href="/login">Entrar ou Criar Conta</a>
          <div id="menu-resp">
            <span class="material-symbols-outlined no-select" id="icon"
              >menu</span
            >
            <!-- <span class="material-symbols-outlined">close</span> -->
          </div>
        </nav>
      </div>
      <div id="items-menu-resp">
        <ul>
          <li><a href="#exemples" class="no-select">Exemplos</a></li>
          <li><a href="#howWorks" class="no-select">Como Funciona</a></li>
          <li><a href="#pricing" class="no-select">Preços</a></li>
          <li><a href="#help" class="no-select">Help</a></li>
        </ul>
      </div>
    </header>
    <div id="background-menu-resp"></div>

    <section class="section-status404">
      <h1>Página não encontrada</h1>
      <img src="/imgs/status404.png" alt="404 not found" />
    </section>

    <footer>
      <p>Desenvolvido por Mauricio Brito dos Santos</p>
      <p>&copy; 2024 Linqbio. Todos os direitos reservados.</p>
    </footer>

    <!-- JS da navegção responsiva -->
    <script src="./js/menu.js"></script>
  </body>
</html>
