@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  /* Cores de fundo */
  --color-background-primary: #ffffff;
  --color-background-secondary: #f1f3f4; /* Fundo para elementos de destaque leve */
  --color-background-accent: #007aff; /* Fundo para elementos de destaque, como mensagens do usuário */

  /* Cores de borda */
  --color-border-primary: #e0e0e0;

  /* Cores de texto */
  --color-text-primary: #333333;
  --color-text-secondary: #575757;

  /* Cores de ação */
  --color-action-primary: #007aff; /* Cor principal para ações, como botões */
  --color-action-primary-hover: #005bb5; /* Cor de hover para ações */
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: 0;
  outline: none;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.no-select,
img {
  user-select: none; /* Para navegadores modernos */
  -webkit-user-select: none; /* Para navegadores baseados em WebKit (ex. Safari, Chrome) */
  -moz-user-select: none; /* Para Firefox */
  -ms-user-select: none; /* Para versões antigas do IE */
}

body {
  width: 98%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* header */

header {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: saturate(150%) blur(3px);
}

.navbar h1 {
  font-size: 1.5rem;
}

.navbar nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbar nav .sign {
  border: 0.01rem solid transparent;
  background-color: var(--color-action-primary);
  color: #ffffff;
  padding: 1rem;
  border-radius: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
}

.navbar nav .sign:hover {
  background-color: var(--color-action-primary-hover);
}

.navbar nav #menu {
  display: flex;
  gap: 1rem;
}

.navbar nav #menu li {
  cursor: pointer;
  transition: all 0.2s ease;
}

.navbar nav #menu li:hover {
  color: var(--color-text-secondary);
}

/*  menu responsivo */

#menu-resp {
  display: none;
  cursor: pointer;
  position: relative;
}

/* #menu-resp #icon {
  position: relative;
} */

#items-menu-resp {
  display: none;
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 2rem 0;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: saturate(150%) blur(3px);
  padding: 1rem 0;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  z-index: 3;

  /* Configuração da animação */
  animation: slideUp 0.3s ease forwards;
  transform: translateY(-100%);
  opacity: 0;
}

@keyframes slideUp {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

#items-menu-resp ul li {
  margin: 3rem 0;
  font-weight: bold;
  font-size: 1.2rem;
}

#background-menu-resp {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

/* ----- seção de introdução -----  */

section {
  margin: 5rem 0rem;
}

.section-intro {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  width: 100%;
  margin: auto;
}

.intro {
  margin: 3rem 0;
  padding: 3rem 0;
  /* margin-bottom: 1rem;
  padding-bottom: 1rem; */
  display: flex;
  justify-content: space-around;
}

.intro h1 {
  font-size: 2.5rem;
  color: var(--color-action-primary);
}

.intro p {
  color: var(--color-text-primary);
}

.intro-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.intro-text a {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 600;
  transition: all 0.1s ease;
}

.intro-text a:hover {
  color: var(--color-text-secondary);
}

.intro-text a .material-symbols-outlined {
  font-size: 1.2rem;
  font-weight: 600;
}

.intro img {
  max-width: 9rem;
}

/* cadastro rápido */

.user-link {
  max-width: 500px;
  margin: 3rem auto;
}

.user-link p {
  margin-bottom: 0.5rem;
}

.user-link label {
  color: black;
}

.form-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-link-input {
  /* margin: auto; */
  width: 70%;
  display: flex;
  align-items: center;
  padding: 0.2rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.01) 0px 1px 4px;
  border: 0.01rem solid rgba(0, 0, 0, 0.8);
  border-radius: 0.5rem;
  transition: all 0.1s ease;
}

.user-link-input input[type="text"] {
  border: none;
  width: 100%;
  padding: 0.8rem 0;
  font-size: 1.01rem;
}

.user-link-input input[type="text"]:focus {
  outline: none;
}

.form-link button {
  cursor: pointer;
  border: none;
  background-color: var(--color-action-primary);
  color: #ffffff;
  /* padding: 0.3rem 0.5rem; */
  padding: 1rem 0.8rem;
  border-radius: 0.4rem;
  height: 100%;
  min-width: 114.32px;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.1s ease;
}

.form-link button:hover {
  background-color: var(--color-action-primary-hover);
}

/* ------ seção exemplos -------*/

section h2 {
  margin-bottom: 2rem;
  text-align: center;
}

#exemples {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.group-exemple {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: auto;
}

.group-exemple a {
  position: absolute;
  z-index: 1;
  top: 5%;
  left: 10%;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.2s ease;
}

.group-exemple a:hover {
  box-shadow: rgba(0, 122, 255, 0.9) 0px 5px 15px;
  box-shadow: rgba(0, 122, 255, 0.24) 0px 3px 8px;
}

.group-exemple img {
  border-radius: 1rem;
}

/* -------- seção como funciona -------- */

#howWorks {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.howWork-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.howWork-group img {
  max-width: 200px;
  border-radius: 1rem;
  background-color: var(--color-background-secondary);
  margin-bottom: 1rem;
}

.howWork-group p {
  max-width: 200px;
  text-align: center;
  color: var(--color-text-primary);
  font-weight: bold;
}

/* ------  seção de planos e preços  ------ */

#pricing {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  margin: auto;
}

.pricing-group {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  min-width: 190px;
  padding: 1rem;
  /* background-color: var(--color-background-secondary); */
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 1rem;
}

.pricing-group .pricing-value {
  font-weight: bold;
  font-size: 3rem;
  /* color: var(--color-action-primary); */
}

.pricing-group p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  color: var(--color-text-primary);
}

.pricing-group .material-symbols-outlined {
  font-size: 1.1rem;
}

.pricing-group button {
  border: none;
  background-color: var(--color-action-primary);
  color: #ffffff;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
}

.pricing-group button:hover {
  background-color: var(--color-action-primary-hover);
}

/* ------  seção de ajuda  ------ */

#help {
  display: flex;
  justify-content: center;
}

#help img {
  width: 150px;
  height: 150px;
}

.help-texts {
  max-width: 400px;
}

.help-texts h3 {
  font-size: 1.5rem;
}

.help-texts p {
  color: var(--color-text-secondary);
  margin-top: 1rem;
}

/* ------  footer  ------ */

footer {
  margin: 1rem auto;
}

footer p {
  text-align: center;
  font-size: 0.9rem;
  color: var(--color-text-secondary);
}

/* ------  responsividade  ------ */

@media all and (max-width: 870px) {
  #exemples {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (max-width: 700px) {
  /* body {
    width: 99%;
  } */
  .navbar nav #menu {
    display: none;
  }
  .navbar nav #menu-resp {
    display: block;
  }
  .intro-text {
    gap: 0.5rem;
  }
  #exemples {
    grid-template-columns: repeat(1, 1fr);
  }
  #howWorks {
    grid-template-columns: repeat(1, 1fr);
  }
  #pricing {
    flex-direction: column;
  }
  .form-link {
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 100%;
  }

  .user-link-input {
    width: 90%;
  }
}

/* @media all and (max-width: 500px) {
  
} */
