@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  /* Cores de fundo */
  --color-background-primary: #ffffff;
  --color-background-secondary: #f1f3f4; /* Fundo para elementos de destaque leve */
  --color-background-accent: #007aff; /* Fundo para elementos de destaque, como mensagens do usuário */

  /* Cores de borda */
  --color-border-primary: #e0e0e0;

  /* Cores de texto */
  --color-text-primary: #333333;
  --color-text-secondary: #575757;

  /* Cores de ação */
  --color-action-primary: #007aff; /* Cor principal para ações, como botões */
  --color-action-primary-hover: #005bb5; /* Cor de hover para ações */
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: 0;
  outline: none;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.no-select,
img {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

body {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

/* header */

header {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: saturate(150%) blur(3px);
}

.navbar h1 {
  font-size: 1.5rem;
}

.navbar nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbar nav .sign {
  border: 0.01rem solid transparent;
  background-color: var(--color-action-primary);
  color: #ffffff;
  padding: 1rem;
  border-radius: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
}

.navbar nav .sign:hover {
  background-color: var(--color-action-primary-hover);
}

/* caso o usuario estiver logado */
.navbar nav .user-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar nav .user-icon {
  cursor: pointer;
  position: relative;
}

/* .navbar nav .user-icon .icon-person {
  border: 0.01rem solid transparent;
  background-color: var(--color-action-primary);
  color: #ffffff;
  padding: 0.6rem;
  border-radius: 50%;
  transition: all 0.2s ease;
  font-size: 2rem;
} */

.navbar nav .user-icon img {
  max-width: 50px;
  max-width: 50px;
  border-radius: 50%;
  border: 0.1rem solid var(--color-text-primary);
}

.navbar nav .user-icon .icon-person:hover {
  background-color: var(--color-action-primary-hover);
}

.navbar nav .logged-user {
  display: none;
  position: absolute;
  right: 10%;
  padding: 1rem;
  border-radius: 1rem;
  transition: all 0.2s ease;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  background: rgba(255, 255, 255, 1);
  border: 0.1rem solid var(--color-text-primary);
  backdrop-filter: saturate(150%) blur(3px);
  z-index: 3;
}

.navbar nav .logged-user .profile {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid rgba(27, 31, 35, 0.15);
}

.navbar nav .logged-user .profile img {
  max-width: 50px;
  max-width: 50px;
  border-radius: 50%;
  border: 0.1rem solid var(--color-text-primary);
}

.navbar nav .logged-user .profile .profile-info p {
  font-size: 0.9rem;
  color: var(--color-text-primary);
}

.navbar nav .logged-user .sign-out {
  margin-top: 1rem;
}

.navbar nav .logged-user .sign-out a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1rem;
  transition: all 0.2 ease;
}

.navbar nav .logged-user .sign-out a:hover {
  color: var(--color-text-secondary);
}

.navbar nav .logged-user .actions {
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: rgba(255, 0, 0, 0.15);
  color: var(--color-text-primary);
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.navbar nav .logged-user .actions:hover {
  background-color: rgba(255, 0, 0, 0.25);
}

/*  deletar conta */

#delete-account {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
}

#delete-account .conteiner-delete {
  background-color: #ffff;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#delete-account .conteiner-delete img {
  max-width: 200px;
}

#delete-account .conteiner-delete p {
  text-align: center;
}

#delete-account .conteiner-delete .actions-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

#delete-account .conteiner-delete .actions-buttons button {
  border: none;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
}

#delete-account .conteiner-delete .actions-buttons #confirm-delete {
  background-color: rgba(255, 0, 0, 0.15);
  color: var(--color-text-primary);
}

#delete-account .conteiner-delete .actions-buttons #confirm-delete:hover {
  background-color: rgba(255, 0, 0, 0.25);
}

#delete-account .conteiner-delete .actions-buttons #cancel-delete {
  background-color: rgba(0, 122, 255, 0.15);
  color: var(--color-text-primary);
}

#delete-account .conteiner-delete .actions-buttons #cancel-delete:hover {
  background-color: rgba(0, 122, 255, 0.25);
}

/* ------- */

.navbar nav #menu {
  display: flex;
  gap: 1rem;
}

.navbar nav #menu li {
  cursor: pointer;
  transition: all 0.2s ease;
}

.navbar nav #menu li:hover {
  color: var(--color-text-secondary);
}

/*  menu responsivo */

#menu-resp {
  display: none;
  cursor: pointer;
  position: relative;
}

/* #menu-resp #icon {
  position: relative;
} */

#items-menu-resp {
  display: none;
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 2rem 0;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: saturate(150%) blur(3px);
  padding: 1rem 0;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  z-index: 3;

  /* Configuração da animação */
  animation: slideUp 0.3s ease forwards;
  transform: translateY(-100%);
  opacity: 0;
}

@keyframes slideUp {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

#items-menu-resp ul li {
  margin: 3rem 0;
  font-weight: bold;
  font-size: 1.2rem;
}

#background-menu-resp {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

/* ----- seção de introdução -----  */

section {
  margin: 5rem 0rem;
  text-align: center;
  margin-top: 7rem;
}

section h1 {
  font-size: 2.5rem;
  color: var(--color-action-primary);
}

section p {
  font-size: 1rem;
  color: var(--color-text-primary);
}

/* seção sem usuário logado */

/* .section-no-auth {
  display: none;
} */

.section-no-auth img {
  max-width: 150px;
  margin-top: 3rem;
}

/* cadastro rápido */
.user-link {
  max-width: 500px;
  margin: 3rem auto;
}

.user-link p {
  margin-bottom: 0.5rem;
  color: black;
}

.user-link label {
  color: black;
}

.form-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-link-input {
  /* margin: auto; */
  width: 70%;
  display: flex;
  align-items: center;
  padding: 0.2rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.01) 0px 1px 4px;
  border: 0.01rem solid rgba(0, 0, 0, 0.8);
  border-radius: 0.5rem;
  transition: all 0.1s ease;
}

.user-link-input input[type="text"] {
  border: none;
  width: 100%;
  padding: 0.8rem 0;
  font-size: 1.01rem;
}

.user-link-input input[type="text"]:focus {
  outline: none;
}

.form-link button {
  cursor: pointer;
  border: none;
  background-color: var(--color-action-primary);
  color: #ffffff;
  /* padding: 0.3rem 0.5rem; */
  padding: 1rem 0.8rem;
  border-radius: 0.4rem;
  height: 100%;
  min-width: 114.32px;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.1s ease;
}

.form-link button:hover {
  background-color: var(--color-action-primary-hover);
}

/* seção com usuário logado */

/* se ele tiver o plano */
.section-auth-plan img {
  margin-top: 2rem;
  max-width: 150px;
}

.section-auth-plan .redirect-options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: auto;
  margin-top: 2rem;
  max-width: 400px;
}

.section-auth-plan .redirect-options a {
  background-color: var(--color-action-primary);
  color: #ffffff;
  padding: 1rem;
  border-radius: 1rem;
  font-weight: bold;
  transition: all 0.2s ease;
}

.section-auth-plan .redirect-options a:hover {
  background-color: var(--color-action-primary-hover);
}

.section-auth-no-plan {
  margin-top: 5rem;
}

/* se ele não tiver plano*/

/* planos e preço */
#pricing {
  /* display: flex;
  justify-content: center; */
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 50%;
  margin: 2rem auto;
}

.pricing-group {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  /* min-width: 190px; */
  max-width: 190px;
  padding: 1rem;
  margin: auto;
  /* background-color: var(--color-background-secondary); */
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 1rem;
  border: 2px solid transparent;
  transition: all 0.2s ease;
}

.pricing-group:hover {
  box-shadow: rgba(0, 122, 255, 0.19) 0px 10px 20px,
    rgba(0, 122, 255, 0.23) 0px 6px 6px;
}

input[type="radio"]:checked + .pricing-group {
  box-shadow: rgba(0, 122, 255, 0.3) 0px 4px 8px,
    rgba(0, 122, 255, 0.5) 0px 6px 10px;
  border: 2px solid rgba(0, 122, 255, 0.7);
  background-color: var(--color-background-selected);
  color: var(--color-action-primary);
}

/* input[type="radio"]:checked + .pricing-group  */

.pricing-group .pricing-value {
  font-weight: bold;
  font-size: 3rem;
  /* color: var(--color-action-primary); */
}

.pricing-group p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  color: var(--color-text-primary);
}

.pricing-group .material-symbols-outlined {
  font-size: 1.1rem;
}

/* ------  footer  ------ */

footer {
  margin: 1rem auto;
}

footer p {
  text-align: center;
  font-size: 0.9rem;
  color: var(--color-text-secondary);
}

/* ------  responsividade  ------ */

@media all and (max-width: 700px) {
  .navbar nav #menu {
    display: none;
  }
  .navbar nav #menu-resp {
    display: block;
  }

  #pricing {
    width: 100%;
  }
  .form-link {
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 100%;
  }

  .user-link-input {
    width: 90%;
  }

  .form-link button {
    width: 100%;
  }

  #help img {
    max-width: 150px;
    max-height: 150px;
  }
}

/* loading */

/* From Uiverse.io by Praashoo7 */
#loading {
  z-index: 5;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 1);
}

/* From Uiverse.io by barisdogansutcu */
svg {
  width: 3.25em;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
}

circle {
  fill: none;
  stroke: hsl(214, 97%, 59%);
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}
